.header {
  background-image: url("../assets/background.svg");
  max-width: 1480px;
  height: 200px;
  margin: 0 auto;

  img {
    position: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    padding-top: calc(200px - 8rem);
  }
}