.taskContainer {
  margin-top: -1.5rem;
}

.addTask {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  input {
    max-width: 32.6875rem;
    width: 100%;
    height: 3.375rem;
    padding: 1rem;
    border: none;

    background: var(--gray-500);

    &::placeholder,
    &:focus {
      outline: none;
      color: var(--gray-300);
    }
  }

  button {
    max-width: 5.625rem;
    height: 3.25rem;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.45rem;
    padding: 1rem;

    background: var(--blue-dark);
    color: var(--gray-100);
    font-weight: bold;

    transition: background-color 0.2s;


    &:hover {
      background: var(--blue);
    }
  }
}

.taskList {
  max-width: 38.3125rem;
  margin: 4rem auto;
}

.tasks {
  width: 100%;

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
}

.noCompleted,
.completed {
  gap: 0.75rem;
  display: flex;
  justify-content: space-between;
  min-height: 4.5rem;
  border-radius: 8px;
  background: var(--gray-500);
  padding: 1rem;

  >div {
    display: flex;
    gap: 0.75rem;
  }

  svg {
    flex: none;
    color: var(--gray-300);
  }
}

.noCompleted {
  border: 1px solid var(--gray-400);
}

.completed {
  border: none;

  >div {
    p {
      color: var(--gray-300);
      text-decoration: line-through;
    }
  }
}

.noTasks {
  padding-top: 4rem;
  border-top: 1px solid var(--gray-400);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    margin-top: .75rem;
    font-weight: bold;
  }

  p,
  span {
    color: var(--gray-300);
  }

}

.info {
  padding-bottom: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    font-weight: bold;
    color: var(--blue);

    &+p {
      color: var(--purple);
    }

    span {
      color: var(--gray-100);
      background: var(--gray-400);
      border-radius: 999px;
      padding: 2px 8px;
    }
  }
}